html {
  scroll-behavior: smooth;
  scroll-padding-top: 110px;
}

body,
[type="submit"] {
  font-size: 16px;
  font-family: var(--font-family-raleway);
  background-color: var(--color-background);
  border: 0;
  color: var(--color-text);
}

.container {
  margin: 0 auto;
  max-width: calc(var(--container-width) + calc(var(--gutter) * 2));
  color: var(--color-text);
  display: grid;
  row-gap: 110px;
  padding: 0 var(--gutter);
}
.vedio__loop {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  opacity: 0.08;
  z-index: -1;
}
.h2-heading {
  font-size: 65px;
  font-weight: var(--font-weight-bold);
  grid-column: 1/-1;
  margin-bottom: 87px;
  position: relative;
  text-transform: uppercase;
}
.h3-heading {
  font-size: 38px;
  font-weight: var(--font-weight-bold);
  margin-bottom: 25px;
}
.section {
  display: grid;
  grid-template-columns: repeat(2, auto);
  align-items: start;
  position: relative;
  z-index: 1;
}
.section--with-bg {
  padding: 110px 0;
}
.section--with-bg::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100vw;
  background-color: var(--color-grey);
  justify-self: center;
}
section {
  display: grid;
  grid-template-columns: repeat(2, auto);
  align-items: start;
}
