@media (max-width: 1000px) {
  /* mobile+tablet */
  html {
    font-size: 8px;
  }
}
@media (max-width: 800px) {
  /* tablet */
  .container {
    row-gap: 80px;
  }
  .section {
    grid-template-columns: 1fr;
  }
  .bio__pic-content {
    justify-self: center;
    grid-row: 1;
    margin-bottom: 40px;
  }
  .skills__list {
    grid-template-columns: repeat(2, 1fr);
  }
  .project__main {
    grid-template-columns: 1fr;
    row-gap: 60px;
    justify-items: center;
  }
  .projects__data:nth-of-type(2) {
    order: 1;
  }
  .clints__openions {
    font-size: 24px;
  }

  .contact {
    row-gap: 60px;
  }
  .contact__ways {
    order: 1;
  }
}
@media (max-width: 500px) {
  /* mobile */

  .header {
    padding: 0;
    z-index: 0;
  }
  .header::before {
    z-index: 0;
  }
  .toggle {
    padding: 30px 0;
    z-index: 1;
  }
  .bio__pic-content {
    width: 100%;
  }
  .navigation {
    display: none;
  }

  .burger-menu {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    gap: 7.5px;
    z-index: 1;
    align-self: center;
  }
  .burger-menu__bar {
    height: 3px;
    width: 43.75px;
    background-color: var(--color-text);
    transition: var(--transition-timing);
    -webkit-transition: var(--transition-timing);
    -moz-transition: var(--transition-timing);
    -ms-transition: var(--transition-timing);
    -o-transition: var(--transition-timing);
  }

  .header:has(.burger-menu__checkbox:checked) {
    .burger-menu__bar:nth-child(1) {
      transform: translateY(10px) rotate(40deg);
    }
    .burger-menu__bar:nth-child(2) {
      opacity: 0;
      visibility: hidden;
    }
    .burger-menu__bar:nth-child(3) {
      transform: translateY(-10px) rotate(-40deg);
    }
    .navigation {
      top: 100%;
    }
  }
  .navigation {
    display: block;
    position: absolute;
    width: 100vw;
    background-color: var(--color-background);
    top: 0;
    padding: 30px 0;
    border-bottom: 1px solid var(--color-text);
    z-index: -1;
  }
  .navigation__link {
    justify-content: center;
  }
}
/* end responsive */
